<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous">
    </script>

</head>
<body>
    
    <h1>index</h1>

    <div id = "user_email"></div>

    <script>

        $(document).ready(function(){

            console.log("localStorage 참조 여부 확인: ",localStorage.getItem("token"))

            $.ajax({
                type : "GET",
                url : '/user',
                headers : {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success : function(response){
                    console.log('get email:',response.email)

                    const email = response.email

                    const htmlTemp = 
                    `
                    <div>${email}</div>
                    `

                    $("#user_email").append(htmlTemp)
                }
            })

        })

    </script>
</body>
</html>