<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous">
    </script>

</head>
<body>
    
    <h1>게시판</h1>

    <div id = "user_email"></div>

    <h2>일상을 기록하세요</h2>
    <div>
        <textarea id="board"></textarea>
        <div id="boardSaveBtn">save</div>
    </div>

    <div>Write</div>
    <div id="board_view"></div>

    <script>

        const boardSaveBtn = document.getElementById("boardSaveBtn")

        $(document).ready(function(){

            console.log("localStorage 참조 여부 확인: ",localStorage.getItem("token"))

            $.ajax({
                type : "GET",
                url : '/user',
                headers : {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success : function(response){
                    console.log('get email:',response.email)

                    const email = response.email

                    const htmlTemp = 
                    `
                    <div>${email}</div>
                    `

                    $("#user_email").append(htmlTemp)
                }
            })

            $.ajax({

                type : "GET",
                url : '/board',
                headers : {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success : function(response){
                    console.log('get boardInfo 성공 여부 확인: ',response["boardData"])

                    const boards = response["boardData"]

                    for(let i = 0; i<boards.length; i++){
                        
                        const htmlTemp = 
                        `
                        <div>${boards[i]["board"]}</div>
                        `

                        $("#board_view").append(htmlTemp)
                    }
                }
            })

        })

        boardSaveBtn.addEventListener("click", function(){

            const board = $("#board").val()

            $.ajax({
                type : "POST",
                url : "/board/save",
                headers : {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                data : {
                    board : board
                },
                success : function(response){
                    if(response){
                        alert("등록이 완료되었습니다.")
                    }
                    else{
                        alert("다시 등록하시기 바랍니다.")
                    }
                }
            })
        })

    </script>
</body>
</html>